{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src={{ post.author.profile.image.url }}>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

<!--
  템플릿 태그(template tag)
  HTML에 파이썬 코드를 바로 넣을 수 없다. 브라우저는 파이썬 코드를 이해할 수 없기 때문이다.
  브라우저는 HTML만 알고있다. 알다시피 HTML은 정적이지만 파이썬은 동적이다.
  템플릿 태그는 파이썬을 HTML로 바꿔주며, 빠르고 동적인 웹을 만들 수 있게 해준다.
-->